<div class="container">
  <!-- Nosso componente está ouvindo o evento que acabamos de criar, e ao emitir irá enviar os dados para um método próprio. -->
  <app-cockpit (servidor-criado)="onServerAdded($event)" (blueprint-criado)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- O seletor (server-element) mostrará cada servidor enviado por ele, via for of. -->
      <app-server-element *ngFor="let serverElement of serverElements" [server-property-element]="serverElement">
        <p>
          <!-- Se o element.type for "server" então o seu conteúdo será mostrado em vermelho. -->
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <!-- Se o element.type for do tipo "blueprint" então seu conteúdo será mostrado em azul. -->
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          <!-- Este conteúdo só será mostrado, se o "if" da propriedade for satisfeita. -->
        </p>
      </app-server-element>
    </div>
  </div>
</div>